% rebase('base.html')

<nav class="level">
    <div class="level-left">
        <form method="POST" action="/zamenjaj-aktualno-kategorijo/">
            <div class="buttons has-addons field is-horizontal">
                % for indeks, kategorija in enumerate(kategorije):
                % if kategorija == aktualna_kategorija:
                <button class="button is-primary is-selected" name="indeks" value="{{indeks}}">
                    {{kategorija.ime}} 
                    <span class="tag is-rounded"> {{kategorija.stevilo_potrebujem()}} </span>
                </button>
                % else:
                <button class="button" name="indeks" value="{{indeks}}">
                    {{kategorija.ime}} 
                    <span class="tag is-rounded"> {{kategorija.stevilo_potrebujem()}} </span>
                </button>
                % end
                % end
            </div>
        </form>
    </div>

    <div class="level-right">
        <form>
            <div class="level-item">
                <a class="button is-info" href="/dodaj-kategorijo/">dodaj kategorijo</a>
            </div>
        </form>
    </div>
</nav>

% if aktualna_kategorija:

<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <form method="POST" action="/dodaj/">
                <td></td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="ime" placeholder="ime izdelka">
                        <span class="icon is-small is-left">
                            <i class="fas fa-clipboard-list"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" type="text" name="cena" placeholder="cena na kos">
                        <span class="icon is-small is-left">
                            <i class="fas fa-euro-sign"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="control">
                        <button class="button is-info is-small">dodaj</button>
                    </div>
                </td>
            </form>
        </tr>
    </thead>
    <tbody>

        % for indeks, izdelek in enumerate(izdelki):
        <tr>
            % if izdelek.kolicina != 0:
            <td>
                <i class="fas fa-arrow-right"></i>
            </td>
            <td>{{ izdelek.ime }}</td>
            <td>{{ izdelek.cena }} EUR</td>
            <td>{{ izdelek.kolicina }} x</td>
            <td>{{ izdelek.strosek_izdelka() }} EUR</td>
            <td>
                <form method="POST" action="/kupi/">
                    <input type="hidden" name="indeks" value="{{indeks}}">
                    <button class="button is-info is-small">KUPI</button>
                </form>
            </td>
            <td></td>
            % else:
            <td>
                <i class="fas fa-arrow-right"></i>
            </td>
            <td>{{ izdelek.ime }}</td>
            <td>{{ izdelek.cena }} EUR</td>
            <td>
                <p>Tega izdelka trenutno ne potrebujete.</p>
            </td>
            <td>
                <form method="POST" action="/potrebujem/">
                    <input type="hidden" name="indeks" value="{{indeks}}">
                    <td>
                        <div class="control has-icons-left">
                            <input class="input is-small" type="text" name="kolicina" placeholder="količina">
                            <span class="icon is-small is-left">
                                <i class="fas fa-clipboard-check"></i>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="control">
                            <button class="button is-info is-small">potrebujem</button>
                        </div>
                    </td>
                </form>
            </td>
            <td></td>
            %end
        </tr>
        % end
    </tbody>
</table>

% else:

<p>Nimate še nobene kategorije. Poskusite jo dodati <a href="/dodaj-kategorijo/">tukaj.</a></p>

% end